@import './google-fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255) !important;
  font-family: SF Pro Display, SF Pro Icons, Work Sans, Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}

html {
  scroll-behavior: smooth;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 255, 255) !important;
}

html {
  scroll-behavior: smooth;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) { img[loading="lazy"] { clip-path: inset(0.6px) } } */