@import './google-fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(41, 41, 41) !important; */
  /* background-color: #222831; */
  background-color: #092635;
  font-family: SF Pro Display, SF Pro Icons, Work Sans, Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  /* .my-custom-style {} */
}

@layer base {
  /* h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  } */
}
